<:Title>
  Getting Started

<:Body>
  <div class='page-header'>
    <div class='container'>
      <h1>Getting Started</h1>
      <p>Let's do this!</p>
    </div>
  </div>
  
  <div class='container'>
    <div class='row'>
      <div class='col-md-3 hidden-xs hidden-sm'>
        <div class='affix-fix'>
          <div class='nav nav-list affix'>
            <ul>
              <li>
                <a href='#overview'>Overview</a>
              </li>
            
              <li>
                <a href='#installation'>Installation</a>
              </li>
              <li>
                <a href='#examples'>Examples</a>
                <ul>
                  <li>
                    <a>Pages</a>
                  </li>
                  <li>
                    <a>Blog</a>
                  </li>
                  <li>
                    <a>ToDos</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href='#gem_library'>Gem Library</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class='col-md-9'>
        <h1 id='overview'>Overview</h1>
        <p>Volt is a full-stack framework for building web applicatons.  With Volt, you write code once and the same code runs on the front-end and the back-end.</p>
        
        <h2>Requirements</h2>
        <p></p>
        
        <h2>Need to Know</h2>
        <p>Ruby, MongoDB query interface, html, sass, jquery</p>
        <h2>Need to Know</h2>
        <p>Ruby, MongoDB query interface, html, sass, jquery</p>
        <h2>Need to Know</h2>
        <p>Ruby, MongoDB query interface, html, sass, jquery</p>
        <h2>Need to Know</h2>
        <p>Ruby, MongoDB query interface, html, sass, jquery</p>
        <h2>Need to Know</h2>
        <p>Ruby, MongoDB query interface, html, sass, jquery</p>
        <h2>Need to Know</h2>
        <p>Ruby, MongoDB query interface, html, sass, jquery</p>
        <h2>Need to Know</h2>
        <p>Ruby, MongoDB query interface, html, sass, jquery</p>
        <h2>Need to Know</h2>
        <p>Ruby, MongoDB query interface, html, sass, jquery</p>
        <h2>Need to Know</h2>
        <p>Ruby, MongoDB query interface, html, sass, jquery</p>
        <h2>Need to Know</h2>
        <p>Ruby, MongoDB query interface, html, sass, jquery</p>
        <h2>Need to Know</h2>
        <p>Ruby, MongoDB query interface, html, sass, jquery</p>
      </div>
    </div>
  </div>
  