<:Title>
  Getting Started

<:Body>
  <div class='page-header'>
    <div class='container'>
      <h1>Getting Started</h1>
      <p>Let's do this!</p>
    </div>
  </div>
  
  <div class='container'>
    <div class='row'>
      <div class='col-md-3 hidden-xs hidden-sm'>
        <div class='affix-fix'>
          <div class='nav nav-list affix'>
            <ul>
              <li>
                <a href='#overview'>Overview</a>
              </li>
            
              <li>
                <a href='#installation'>Installation</a>
              </li>
              <li>
                <a href='#examples'>Examples</a>
                <ul>
                  <li>
                    <a>Pages</a>
                  </li>
                  <li>
                    <a>Blog</a>
                  </li>
                  <li>
                    <a>ToDos</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href='#gem_library'>Gem Library</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class='col-md-9'>
        <h1 id='overview'>Overview</h1>
        <p>Volt is a ruby web framework where your ruby code runs on both the server and the client (via <a href="https://github.com/opal/opal">opal</a>.)  The DOM automatically update as the user interacts with the page.  Page state can be stored in the URL, if the user hits a URL directly, the HTML will first be rendered on the server for faster load times and easier indexing by search engines.</p>

        <p>Instead of syncing data between the client and server via HTTP, volt uses a persistent connection between the client and server.  When data updated on one client, it is updated in the database and any other listening clients.  (With almost no setup code needed)</p>

        <p>Pages HTML is written in a handlebars like template language.  Volt uses data flow/reactive programming to automatically and intelligently propagate changes to the DOM (or anything other code wanting to know when a value updates)  When something in the DOM changes, Volt intelligently updates only the nodes that need to be changed.</p>
        
        <h2>Requirements</h2>
        <p></p>
        
        <h1 id='gem_libary'>Gem Library</h1>
        
      </div>
    </div>
  </div>
  