<:body>
  <div id="footer">
    <div class='container'>
      <div class='row'>
        <div class='col-md-2'>
          <a href='/home'>Home</a>
        </div>
        <div class='col-md-2'>
          <a href='/home'>Getting Started</a>
        </div>
        <div class='col-md-2'>
          <a href='/home'>Examples</a>
        </div>
        <div class='col-md-2'>
          <a href='/home'>Docs</a>
        </div>
        <div class='col-md-2'>
          <a href='/home'>API</a>
        </div>
        <div class='col-md-2'>
          <a href='/home'>Community</a>
        </div>
      </div>
      <div class='row'>
        <p>&copy; Volt 2014</p>
      </div>
    </div>
  </div>
</:body>