<:Title>
Blog

<:Body>
  <style>
  strong {
    font-weight: bold;
    text-decoration: underline;
  }
  </style>

  <div class='page-header'>
    <div class='container'>
      <h1>The State of Volt/Roadmap</h1>
    </div>
  </div>
  <div class='container'>
    <div class='row'>
      <div class="col-md-8">
        <h1>The State of Volt/Roadmap</h1>

        <p>After some unexpected press on Volt, I thought I would take some time to explain the current state of volt and the roadmap.  The currently released version of Volt is missing a few things that are needed for production apps.  The goal is to have an official first release of Volt by rubyconf in November.  The main things Volt neededs before its ready for production apps are:</p>

        <ul>
          <li>Reactive Blocks</li>
          <li>Built-in User Model</li>
          <li>Asset Bundling in production - (cloudflare can be a temporary solution)</li>
        </ul>

        <h3>What's coming soon/What's changing</h3>

        <p>Right now we're towards the end of a big refactor of the reactive system.  The new system simplifies a lot of things, gets rid of the need to do .cur, .or, .and, etc...  The new reactive system should be ready in a few weeks.  Once its out, I'll be looking to expand the core team of developers.</p>

        <h3>How can I help?</h3>

        <p>A lot of people have generously asked how they can contribute.  There are three kinds of support Volt needs.</p>

        <h4>1. Sponsorship</h4>

        <p>If any companies want to sponsor the development of Volt, it would help us get things out the door faster (since we could spend less time free-lancing).  If your company or any you know are interested, <a href="http://www.agileproductions.com/contact">email me</a> or hit me up at #voltrb on irc.</p>

        <h4>2. Code Contributions</h4>

        <ul>
          <li><strong>A new sockjs layer</strong> - Currently we are maintaining our own branch of <a href-="https://github.com/voltrb/sockjs-ruby">sockjs-ruby</a>  This library needs to be updated to the newest version of sockjs.  Or if anyone has the time, starting on a totally new library would also work.<br /><br /></li>
          <li><strong>Vert.x integration</strong> - I use jruby on a lot of my projects and want jruby support to be a first class citizen in Volt.  At the moment though our jruby support is lacking (due partly to issues with sockjs-ruby)  On the jruby side, I want to integrate the amazing <a href="http://vertx.io/">Vert.x</a> project.  @isaiah has done a great job with <a href="https://github.com/isaiah/jubilee">Jubilee</a>, so any help on that project would be helpful down the road.<br /><br /></li>
          <li><strong>Sprockets replacement</strong> - Sprockets has some issues, the main of which is that sourcemaps don't run through the entire system. (though they are working on it)  It seems like development on sprockets is mostly stalled and there is a lot of complexity in sprockets that Volt doesn't use or need.  I've been working through what a replacement for Sprockets would look like.  I think <a href="http://www.solitr.com/blog/2014/02/broccoli-first-release/">Broccoli really nailed how it should work</a>.  (tl;dr - treating everything as mutations on trees simplifies the whole process)  If someone is interested, I think we could have a simple replacement for sprockets in a short amount of time.
<br /><br />
          </li>
          <li>
            <strong>Opal/Opal IRB</strong> - The Opal team has done an amazing job, but I'm sure they have more things that need work.  Also, there is one Opal-IRB project, we want to integrate IRB into the client side, so again, having a good Opal based IRB for the browser will be helpful down the road.
            <br /><br />
          </li>
          <li>
            <strong>Volt Contributions</strong> - The new reactive system will change a lot of things, it should be out soon.  Until its out, direct Volt contributions will be a bit confusing.  Once its out, I'm going to write another post detailing all of the ways people can directly contribute to Volt.  If thats something you'll be interested in, hit me up on #voltrb on irc.
            <br /><br />
          </li>
        </ul>

        <h4>3. Testing, Tutorials, Docs</h4>

        <p>This is a big one.  While the reactive system is changing quite a bit, the component system, dependencies, model api, bindings, controllers, routes, etc. are fairly stable.  So take your time and familiarize yourself with the project.  Take a look at the example projects.  If you have time to write blog posts, articles, or tutorials, this will be a great help to onboarding people.</p>

        <p>As a side note, once we get to the first official launch (November hopefully), we'll do a bunch of tutorials/video intros.  But having others from the community will be extermely helpful.</p>

        <h4>Road Map</h4>

        <p>We're extermely excited about all of the interest in Volt and are doubling our efforts to get everything ready for an official launch in November.  Judging from the excitement over the project, I think we're on the right track.  I really believe sharing code between the client and server and automatically syncing data is a huge win for web development.  Here's some details about what we'll be working on next.</p>

        <ul>
          <li>
            <p><strong>User Models</strong> - One big win for these kind of apps is having a user model built in.  Providing components for signup, login, forgot password, etc, will make bootstraping apps go much faster.  Also having a standard way to access a user and their data will improve component compatibility between projects.  The plan is to make a user collection that acts like the store collection, only scoped to the user.  So you would be able to do something like:</p>

            <code>user.items &lt;&lt; {{{{_name: 'Item 1'}}}}</code>

            <br /><br />

            <p>And only that user would be able to access the item.  Along with that, we are working on providing model level read/write permissions.  We already have some of these with the validations, but we plan to add more on the read side as well.</p>

          </li>

          <li>
            <p><strong>Front End IRB</strong> - The plan is to improve sourcemap support and have a client side IRB/pry that you can use.</p>
          </li>

          <li>
            <p><strong>RubyMotion</strong> - This is long long term, but we're trying to think ahead with Volt.  The ultimate goal would be where you could write your core business logic once, then write your controller or viewmodel, and view layers for each platform.  <a href="http://www.rubymotion.com/">RubyMotion</a> should allow Volt apps to be compiled to OSX and Android.  There's a lot of hurdles to solve before we begin integrating.  I think having a good reactive system for web and mobile could save a lot of code and make RubyMotion a little easier to integrate.</p>
          </li>
        </ul>

        <h3>Conclusion</h3>

        <p>I want to say thanks for all of the great feedback and support so far.  Also thanks to the Opal team for their amazing work.  In the next few weeks, look to see the new reactive system go out, then shortly after that the user models.</p>

        <p>Any questions can be answered on #voltrb on irc.  Be sure to follow the project on github to see the latest updates.</p>

        <p>Thanks,<br />
            &nbsp; &nbsp; Ryan -  Volt Core Team member</p>
      </div>
    </div>
  </div>