<:Body>
  {{ if url.path == '/docs' || url.path == '/blog' }}
    <style>
    #footer {
      display: none;
    }
    </style>
  {{ end }}
  <div id="footer">
    <div class='container'>
      <div class='clearfix'>
        <div class='footer-col'>
          <a href='/home'>Home</a>
        </div>
        <div class='footer-col'>
          <a href='/getting_started'>Getting Started</a>
          <a href='/getting_started'>Overview</a>
          <a href='/getting_started'>Installation</a>
          <a href='/getting_started'>Examples</a>
          <a href='/getting_started'>Gem Library</a>
        </div>
        <div class='footer-col'>
          <a href='/docs'>Docs</a>
          <!-- <a href='/home'>Rendering</a>
          <a href='/home'>Models</a>
          <a href='/home'>Controllers</a>
          <a href='/home'>Components</a>
          <a href='/home'>Controls</a>
          <a href='/home'>Routes</a> -->
        </div>
        <div class='footer-col'>
          <a href='/docs'>API</a>
        </div>
        <div class='footer-col'>
          <a href='/community'>Community</a>
        </div>
      </div>

    </div>
    <div id='footer-bottom'>
      <div class='container text-center'>
        <p>&copy; Volt 2015</p>
      </div>
    </div>
  </div>